body {
  display: flex;
  width: 1905px;
  height: 940px;
  margin: 0px;
  background-color: #e9f0fa;
}

h2 {
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  padding: 7px;
}

section.Pomodoro {
  height: 87%;
  width: 35%;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 240px;
  margin-right: 45px;
  border-radius: 25px;
  background: #e9f0fa;
  box-shadow: 11px 11px 22px #c8ced7, -11px -11px 22px #ffffff;
}

section.todonottodo {
  margin-left: 50px;
  margin-right: 240px;
  width: 35%;
}

article.todolist {
  height: 58%;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 25px;
  background: #e9f0fa;
  box-shadow: 11px 11px 22px #c8ced7, -11px -11px 22px #ffffff;
}

article.nottodolist {
  margin-bottom: 50px;
  height: 25%;
  padding: 10px;
  border-radius: 25px;
  background: #e9f0fa;
  box-shadow: 11px 11px 22px #c8ced7, -11px -11px 22px #ffffff;
}

#stop {
  position: absolute;
  left: 515px;
  top: 385px;
  border: 0;
  outline: 0;
  padding: 3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background: #e9f0fa;
  box-shadow: 1px 1px 2px #949da6, -1px -1px 2px #ffffff;
}

#change-time {
  position: absolute;
  left: 565px;
  top: 385px;
  border: 0;
  outline: 0;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #e9f0fa;
  box-shadow: 1px 1px 2px #949da6, -1px -1px 2px #ffffff;
}

#change-type {
  position: absolute;
  left: 615px;
  top: 385px;
  border: 0;
  outline: 0;
  padding: 8px;
  width: 14px;
  height: 14px;
  border-radius: 5px;
  background: #e9f0fa;
  box-shadow: 1px 1px 2px #949da6, -1px -1px 2px #ffffff;
}

/* div.clock {
  position: relative;
  border:1px solid gray
  top: 100px;
  left: 100px;
  height: 240px;
  width: 530px;
  padding: 10px;
} */

div.record {
  position: relative;
  top: 295px;
  left: 80px;
  height: 240px;
  width: 480px;
  padding: 10px;

  border-radius: 20px;
  background: #e9f0fa;
  box-shadow: 3px 3px 6px #c1c7d0, -3px -3px 6px #ffffff;
}

.record-list {
  position: relative;
  left: 30px;
  margin-right: 50px;
  width: 220px;
  display: inline;
  list-style: none;
  border-radius: 5px;
}
#record-time {
  color: #e96977;
}

#record-text {
  border: 1px solid rgb(255, 255, 255);
}

div.music {
  position: relative;
  top: 320px;
  left: 80px;
  height: 150px;
  width: 500px;
  border-radius: 25px;
  background: #e9f0fa;
  box-shadow: 3px 3px 6px #c1c7d0, -3px -3px 6px #ffffff;
}

#select-music {
  color: #00ff0000; /*투명*/
  position: relative;
  left: 215px;
  top: 10px;
  width: 60px;
  height: 60px;
  border: 0;
  outline: 0;
  border-radius: 30px;
  background: #e9f0fa;
  box-shadow: 1px 1px 2px #949da6, -1px -1px 2px #ffffff;
}

#music1 {
  background: url("Pomotodo icon/button-enter.png");
}

#previous {
  position: absolute;
  left: 150px;
  top: 96px;
  width: 30px;
  height: 30px;
}
#start-music {
  position: absolute;
  left: 220px;
  top: 85px;
  width: 50px;
  height: 50px;
}
#next {
  position: absolute;
  left: 310px;
  top: 96px;
  width: 30px;
  height: 30px;
}

#side-nav {
  position: absolute;
  left: 1570px;
  top: 65px;
  width: 19px;
  height: 19px;
  padding: 6px;
  opacity: 0.5;
  border-radius: 5px;
  background: #e9f0fa;
  box-shadow: 1px 1px 2px #949da6, -1px -1px 2px #ffffff;
}

#record-nav {
  position: absolute;
  left: 1610px;
  top: 65px;
  width: 19px;
  height: 19px;
  padding: 6px;
  opacity: 0.5;
  border-radius: 5px;
  background: #e9f0fa;
  box-shadow: 1px 1px 2px #949da6, -1px -1px 2px #ffffff;
}

#todo-write,
#nottodo-write {
  margin-left: 30px;
  margin-right: 60px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 36px;
  background: #e9f0fa;
  box-shadow: 1px 1px 2px #949da6, -1px -1px 2px #ffffff;
}

div.list {
  margin-bottom: 5px;
}

#select-color {
  position: relative;
  left: 3px;
  top: 3px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  height: 28px;
  padding: 2px;
}

#text {
  position: relative;
  left: 3px;
  top: 3px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  width: 430px;
  height: 25px;
  padding: 1px;
}

#submit {
  position: relative;
  left: 3px;
  top: 3px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background: url("Pomotodo icon/button-enter.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: -1px;
  opacity: 0.5;
}

#list-drag {
  position: relative;
  top: 10px;
  left: 0px;

  width: 25px;
  height: 25px;
  opacity: 0.5;
}

#list-article {
  border: 0;
  outline: 0;
  position: relative;
  top: 0px;
  left: 2px;
  width: 540px;
  height: 25px;
  border-radius: 5px;
  height: 34px;
  background: #e9f0fa;
  box-shadow: 1px 1px 1px #949da6, -1px -1px 1px #ffffff;
}

#list-check {
  position: relative;
  top: 5px;
  left: 8px;

  width: 20px;
  height: 20px;
  opacity: 0.2;
}
#list-delete {
  position: relative;
  top: 5px;
  left: 6px;

  width: 20px;
  height: 20px;
  opacity: 0.2;
}

#checked-list-article {
  border: 0;
  outline: 0;
  position: relative;
  top: 0px;
  left: 2px;
  width: 540px;
  height: 25px;
  border-radius: 5px;
  height: 34px;
  background: #e9f0fa;
  box-shadow: inset 1px 1px 2px #949da6, -1px -1px 2px #ffffff;
}

#list-checked {
  position: relative;
  top: 5px;
  left: 8px;

  width: 20px;
  height: 20px;
  opacity: 0.7;
}
