<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="/public/POMOTODO icon/mountain-solid.svg"/> -->
    <title>POMOTODO</title>
    <link rel="stylesheet" href="header.css" />
    <script src="https://kit.fontawesome.com/65f55f4509.js" crossorigin="anonymous"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
    <script defer src="header.js"></script>
</head>
<body>
    <header>
        <nav class="top-bar">
            <div class="POMOTODO__logo" title="Home">
                <a href="/"><i class="fas fa-mountain"></i>POMOTODO</a>
            </div>
            <div id="id-check">
                <!-- 아이디출력 -->
                <span id="modal-button-id-check"><%= posts %></span>
                <!-- 모달창 출력 -->
                <span class="modal-close"></span>
                <span id="modal-window-id-check">
                    <!-- 로그인/로그아웃 버튼 -->
                    <!-- <span>1</span> -->
                    <span id="hello">Hello!</span>
                    <span id="hello-user">Hello ! <%= posts %></span>
                    <button id="loginButton">Log in </button>
                    <button id="logoutButton">Log out</button>
                    <button id="signup-login-modal">Sign up</button>
                    <button id="unregister">Delete ID</button>
                    <div id="unregister-check">
                        회원탈퇴하시겠습니까?<br>
                        <button id="unregister-ok">네</button>
                        <button id="unregister-no">아니요</button>
                    </div>
                    <div id="contact-me-title">
                        contact-developer 
                        <ul class="POMOTODO__contact-me">
                            <li>
                            <a href="https://coqoa.tistory.com/" title="tistory blog" target="blank" ><i class="fas fa-bold"></i></a>
                            </li>
                            <li>
                            <a href="https://github.com/coqoa" title="github" target="blank"><i class="fab fa-github"></i></a>
                            </li>
                            <li id="mail-btn"><i class="far fa-envelope" title="E-mail"></i></li>
                        </ul>
                    </div>
                    <div id="modal" class="modal-overlay">
                        <div class="mail-modal-window">
                            <div class="close-area"><i class="fas fa-times"></i></div>
                            <div class="content"><i class="fas fa-paper-plane">ﾠcoqoa28@gmail.com</i></div>
                        </div>
                    </div>
                </span>
            </div>
            <ul class="POMOTODO__menu">
            <li>
                <!-- <button class="desktop-mode"><i class="fas fa-desktop"></i></button> -->
                <a href="/" title="Home" ><i class="fas fa-desktop"></i></a>
            </li>
            <li>
                <a href="/record" title="Record" ><i class="far fa-calendar-alt"></i><a>
            </li>
            <li>
                <a href="/크롬익스텐션" title="Chrome-Extension" ><i class="fas fa-puzzle-piece"></i><a>
            </li>
            </ul>
            <div id="POMOTODO__clock">시계</div>
        </nav>
        <span class="search-bar">
            <input type="text" class="query" value="" style="display: inline;" placeholder="google search bar" autofocus="true" onkeydown="if(window.event.keyCode==13){search()}">
            <!-- <button type="button" class="searchBtn" style="display : inline"><i class="fas fa-search"></i></button> -->
            <button type="button" class="searchBarBtn" style="display : none" title="Google Search : Shift + Enter , Address Bar : Ctrl(Cmd) + L "><i class="fas fa-search"></i></button>
          </span>
    </header>
</body>
</html>