<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="login.css" />
</head>
<body>
    <form method="post" id="authForm" action="/login">
        <div>
          <label for="loginId">아이디</label>
          <input type="text" id="loginId" name="loginId" placeholder="ID" minlength="5" maxlength="10" autocomplete='off'>
        </div>
        <div>
          <label for="loginPw">비밀번호</label>
          <input type="password" id="loginPw" name="loginPassword" placeholder="Password" minlength="5" maxlength="20" autocomplete='off'>
        </div>
        <div class="id-check"><%= loginFeedback %></div>
        <button type="submit" onkeyup='printName()''>로그인</button>
        <!-- <button type="button" onclick="location.href='signup.html'">회원가입</button> -->
        <button type="button" onclick="location.href='/signup'">회원가입</button>
        <button type="button" onclick="window.open('https://github.com/coqoa')">POMOTODO?</button>
      </form>
</body>
</html>