<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoMoToDo-record</title>
    <link rel="stylesheet" href="record.css" />
    <script src="https://kit.fontawesome.com/65f55f4509.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 
    <script defer src="record.js"></script>
</head>
<body class="body">
    <%- include ('header.ejs') %>
    <!--------------⬆︎ 네비게이션공통 ------------------>
    <section class="big-layout" id="mainLayout">

        <div class="small-layout" id="calendar">
            <div class="record-content" id="calendar-content">
                
            </div>
        </div>
        <div class="small-layout" id="pomo-record">
            <h2>Pomodoro</h2>
            <div class="record-content" id="pomo-record-content">
                
            </div>
            </div>
        </div>
        <div class="small-layout" id="todo-record">
            <h2>ToDoList</h2>
            <div class="record-content" id="todo-record-content">
                
            </div>
        </div>
        <div class="small-layout" id="not-todo-record">
            <h2>Not-ToDoList</h2>
            <div class="record-content" id="not-todo-record-content">
               
            </div>
        </div>
    </section>
    
</body>
</html>