<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="login-signup.css" />
</head>
<body>
    <div class="container">
        <h1 class="signup-title">sign up</h1>
        <div class="signup-title-underline"></div>
        <form id="authForm" action="/signupResult" method="post">
            <div class="form-list">
                <label for="id">username</label><br>
                <input type="text" class="form-list" id="signupId" name="loginId" placeholder="5~10" minlength="5" maxlength="10" autocomplete='off' >
            </div>
            <div class="form-list">
                <label for="password">password</label><br>
                <input type="password" class="form-list" id="signupPassword" name="password" placeholder="5~20" minlength="5" maxlength="20" autocomplete='off'>
            </div>
            <div class="form-list">
                <label for="email">email</label><br>
                <input type="email" class="form-list" id="signupEmail" name="email" placeholder="" autocomplete="off">
            </div>
            <div class="form-list">
                <label for="number">number</label><br>
                <input type="tel" class="form-list" id="signupNumber" name="number" placeholder="( - ) 제외 11자" autocomplete='off' maxlength="11">
            </div>
            <div class="form-list">
                <label for="birthday">birthday</label><br>
                <input type="text" class="form-list" id="signupBirthday" name="birthday" placeholder="ex.910208" maxlength='6' autocomplete='off'>
            </div>
            <div class="form-list">
                <div class="gender">
                    <label for="gender" class="gender-label">male</label>
                    <input type="radio" id="signupGender" name="gender" value="male">
                
                    <label for="gender" class="gender-label">ﾠﾠfemale</label>
                    <input type="radio" id="signupGender" name="gender" value="female">
                </div>
            </div>
            <button type="submit" class="form-list" id="form-signup">sign up</button>
            <button type="button" class="form-list" id="form-toLogin" onclick="location.href='/login'">login</button>
        </form>
    
</div>
</body>
</html>