:root {
  /* --backgroundColor: rgb(250, 250, 250); */
  --backgroundColor: #f0f6f9;
  --contentColor: #f0f6f9;
  /* --contentColor: rgb(254, 254, 255); */
  --blackShadow: #c1c7d0;
  --whiteShadow: #f6f8fa;
  --lightgrayShadow: rgb(228, 228, 228);
  --bluetext: #221974;
  --redtext: #ff8585;
  --hoverredtext: #f75858;
  --graytext: #c7c8ca;
  --beigetext: #f5f5dc;
  --greentext: #76c576;
}

.top-bar {
  zoom: 80%;
}
button:hover {
  opacity: 0.7;
  cursor: pointer;
}
button:active {
  opacity: 0.7;
  cursor: pointer;
}
body {
  font-family: "Ubuntu", "IBM Plex Sans KR";
  display: flex;
  justify-content: center;
  height: 670px;
  margin: 0px;
  /* background-color: #e9f0fa; */
  background-color: var(--backgroundColor);
}
header nav {
  font-family: "Ubuntu", "IBM Plex Sans KR";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  position: fixed;
  left: 0;
  width: 100%;
  height: 10px;
  /* background-color: #f4f8fb; */
  background-color: #ffffff;

  color: #5e5e5e;
  z-index: 999;
}
a {
  /*네비게이션바의 a태그*/
  text-decoration: none;
  color: #5e5e5e;
}
.POMOTODO__logo a {
  position: absolute;
  bottom: 4px;
  left: 10px;
  padding: 0px;
  font-family: "Ubuntu", "IBM Plex Sans KR";
  font-size: 17px;
  font-weight: 500;
  font-style: italic;
}
.POMOTODO__logo a:hover {
  background-color: transparent;
  color: black;
}
.POMOTODO__logo i {
  /* 로고 아이콘 */
  position: relative;
  bottom: 1px;
  padding-right: 5px;
  color: #ff8585;
}
#id-check {
  font-family: "Ubuntu", "IBM Plex Sans KR";
  font-size: 17px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  color: gray;
}
#modal-button-id-check {
  position: absolute;
  right: 165px;
  bottom: 0px;
  height: 20px;
  width: 120px;
  padding-bottom: 3px;
  border-radius: 7px;
  color: gray;
}
#modal-button-id-check:hover {
  cursor: pointer;
  color: black;
}
#modal-button-id-check:active {
  cursor: pointer;
  box-shadow: inset 0px 0px 0px #949da6, -0px -0px 0px #ffffff;
}
/* 생성된 모달창 */
.modal-close {
  position: absolute;
  top: 25px;
  left: 0;
  display: none;
  width: 3000px;
  height: 3000px;
  background-color: #ffffff20;
  z-index: 90;
}
#modal-window-id-check {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 130px;
  height: 220px;
  width: 150px;
  font-family: "Ubuntu", "IBM Plex Sans KR";
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 6px 6px 9px #c8ced7;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  padding: 5px 5px 10px 5px;
  z-index: 99;
}
/* 로그인버튼, 로그아웃버튼, 회원탈퇴버튼 */
#hello,
#hello-user,
#loginButton,
#logoutButton,
#unregister,
#signup-login-modal {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  color: gray;
  display: none;
  justify-content: center;
  margin: 13px 0px;
  border: 0;
  background-color: transparent;
}
#hello,
#hello-user {
  color: #221974;
}

#loginButton:hover {
  opacity: 1;
  color: #8ab36f;
}
#logoutButton:hover {
  opacity: 1;
  color: #e24747;
}
#signup-login-modal:hover {
  opacity: 1;
  color: #5140eb;
}
#loginButton:active,
#logoutButton:active,
#signup-login-modal {
  box-shadow: inset 0px 0px 0px #949da6, -0px -0px 0px #ffffff;
}
#unregister:hover {
  opacity: 1;
  color: #f0942c;
}
#unregister:active {
  cursor: pointer;
  box-shadow: inset 0px 0px 0px #949da6, -0px -0px 0px #ffffff;
}
#unregister-check {
  position: relative;
  top: 100px;
  left: -25px;
  display: none;
  padding-top: 15px;
  border: 1px solid white;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 6px 6px 9px #c8ced7;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}
#unregister-ok,
#unregister-no {
  font-size: 18px;
  font-weight: 500;
  color: gray;
  font-style: italic;
  margin: 10px;
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  background-color: transparent;
}
#unregister-ok:hover,
#unregister-no:hover {
  color: black;
}
#unregister-ok:active,
#unregister-no:active {
  box-shadow: inset 0px 0px 0px #949da6, -0px -0px 0px #ffffff;
}
#contact-me-title {
  position: absolute;
  top: 150px;
  left: 12px;
  font-weight: 400;
  margin-top: 10px;
  padding-top: 10px;
}
.POMOTODO__contact-me {
  position: absolute;
  top: 40px;
  left: 10px;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.POMOTODO__contact-me li {
  margin-top: 2px;
  padding: 2px 12px;
}
.POMOTODO__contact-me li:hover {
  color: black;
}
#mail-btn {
  cursor: pointer;
}
#modal.modal-overlay {
  position: relative;
  top: 100px;
  left: -10px;
  width: 210px;
  height: 65px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 6px 6px 9px #c8ced7;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
}
#modal .content {
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}
#modal .close-area {
  display: inline;
  float: right;
  padding-right: 3px;
  cursor: pointer;
  color: gray;
}
/* 네비게이션아이콘 */
.POMOTODO__menu {
  position: relative;
  right: 0.5%;
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.POMOTODO__menu li {
  padding: 2px 12px;
  margin: 0px;
}
.POMOTODO__menu li:hover {
  opacity: 0.5;
}
/* 네비게이션 시계 */
#POMOTODO__clock {
  display: inline;
  font-family: "Ubuntu", "IBM Plex Sans KR";
  position: absolute;
  right: 30px;
  top: 5px;
  margin-right: 10px;
  font-size: 14px;
  color: #5e5e5e;
}
@media screen and (max-width: 520px) {
  .POMOTODO__menu {
    right: 2%;
  }
  /* :root {
    --backgroundColor: #eef1f5;
  } */
}
@media screen and (max-width: 490px) {
  .top-bar {
    zoom: 60%;
  }
  .POMOTODO__menu {
    /* right: 11%; */
  }
  #modal-button-id-check {
    right: 5%;
  }
  #POMOTODO__clock {
    display: none;
  }
}
