@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* font-family: 'Ubuntu', sans-serif; */

body {
  background-color: #e9f0fa;
  /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.container {
  /* 수직/수평 가운데정렬 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 500px;
  border: 1px solid gray;
  border-radius: 15px;
}
#authForm {
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
  color: gray;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-list {
  padding: 5px;
  margin: 10px 0px 10px 0px;
  background-color: transparent;
  border: 0;
  border-radius: 10px;
  text-align: center;
}
#loginId,
#loginPw {
  background-color: white;
}

/* 플래시 메세지 */
.id-check {
  position: absolute;
  /* top: 10px; */
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
  color: gray;
  /* margin: 20px; */
}
