@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* font-family: 'Ubuntu', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");
/* font-family: 'IBM Plex Sans KR', sans-serif; */

:root {
  --backgroundColor: #f0f0f0;
  --contentColor: #f5f5f5;
  --blackShadow: #cfcfcf;
  --whiteShadow: #f2f2f2;
  --lightgrayShadow: #d9d9d9;
  --bluetext: #221974;
  --redtext: #ff8585;
  --hoverredtext: #f75858;
  --graytext: #c7c8ca;
  --beigetext: #f5f5dc;
  --greentext: #76c576;
}
body {
  /* background-color: #e9f0fa; */
  background-color: var(--backgroundColor);
}
.container {
  /* background-color: #e9f0fa; */
  background-color: var(--contentColor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 600px;
  box-shadow: 7px 7px 10px var(--blackShadow), -4px -4px 5px var(--whiteShadow);
  border-radius: 15px;
  zoom: 80%;
}
/* #signupForm, */
/* 로그인폼 레이아웃 */
#authForm {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* 로그인 폼 내 각 요소에 관한 코드 */
.form-list {
  font-family: "Ubuntu", "IBM Plex Sans KR";
  font-size: 17px;
  font-weight: 400;
  font-style: italic;
  color: var(--bluetext);
  padding: 5px;
  margin: 3px;
  border: 0;
  border-radius: 1px;
  text-align: center;
  background-color: transparent;
}
h1 {
  font-family: "Ubuntu", "IBM Plex Sans KR";
  font-size: 40px;
  font-weight: 500;
  font-style: italic;
  color: var(--bluetext);
  position: relative;
  top: 30px;
  right: 85px;
  text-align: center;
  margin-bottom: 150px;
}
label {
  position: relative;
  top: 0px;
  right: 100px;
}
/*------------------------------------------------ ⬆︎ login, signup공통적용 ------------------------------------------------ */

/* ⬇︎ 개별적용 */
/*------------------------------------------------ ⬇︎ login ------------------------------------------------ */

.login-title-underline {
  position: relative;
  top: -125px;
  left: 45px;
  height: 5px;
  width: 95px;
  border-bottom: 3px solid var(--bluetext);
}
#loginPw,
#loginId {
  position: relative;
  top: 20px;
  width: 250px;
  height: 40px;
  border: 0;
  margin-bottom: 30px;
  background-color: white;
  /* border: 1px solid white; */
  border-radius: 15px;
  box-shadow: inset 2px 2px 3px var(--blackShadow),
    inset -2px -2px 2px var(--whiteShadow);
}
#loginPw {
  top: 26px;
}
#form-login {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: 25px;
  margin-top: 20px;
  width: 260px;
  height: 50px;
  color: var(--bluetext);
  background-color: var(--contentColor);
  box-shadow: 4px 4px 6px var(--blackShadow), -3px -3px 5px var(--whiteShadow);
  border-radius: 15px;
}
#form-login:hover {
  cursor: pointer;
  color: var(--hoverredtext);
}
#form-login:active {
  box-shadow: inset 2px 2px 3px var(--blackShadow), inset -2px -2px 2px #ffffff;
}

/* 플래시 메세지 */
.id-check {
  position: absolute;
  top: 210px;
  font-family: "Ubuntu", "IBM Plex Sans KR";
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: var(--redtext);
}
#login-toHome,
#login-toSignup,
#form-pomotodo {
  font-size: 15px;
  position: relative;
  color: var(--graytext);
  top: 40px;
}
#login-toHome:hover,
#login-toSignup:hover,
#form-pomotodo:hover {
  cursor: pointer;
  color: black;
}
/*------------------------------------------------ ⬇︎ signup ------------------------------------------------ */
#signup-container {
  height: 650px;
}
/* .form-list label {
  color: gray;
} */

/* 라벨위치 미세조정 */
.label-email {
  right: 115px;
}
.label-number {
  right: 106px;
}
.label-birthday {
  right: 104px;
}

.signup-title {
  top: 0px;
  right: 70px;
}
.signup-title-underline {
  position: relative;
  top: -150px;
  left: 42px;
  height: 5px;
  width: 130px;
  border-bottom: 3px solid var(--bluetext);
  margin-bottom: 40px;
}
.gender-label input[type="radio"] {
  display: none;
}
.gender-label input[type="radio"] + span {
  position: relative;
  width: 50px;
  top: 15px;
  left: 101px;
  display: inline-block;
  background: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0px 10px;
  margin-bottom: 20px;
  text-align: center;
  height: 35px;
  line-height: 33px;
  font-weight: 500;
  cursor: pointer;
  color: lightgray;
  z-index: 100;
}
.gender-label input[type="radio"]:checked + span {
  border: 1px solid var(--bluetext);
  background: none;
  color: var(--bluetext);
}
#signupId,
#signupPassword,
#signupPasswordCheck,
#signupEmail,
#signupNumber,
#signupBirthday {
  font-size: 14px;
  position: relative;
  width: 250px;
  height: 20px;
  background-color: white;
  /* border: 1px solid white; */
  margin: 3px;
  border-radius: 7px;
  border: 0;
  box-shadow: inset 2px 2px 3px var(--blackShadow),
    inset -2px -2px 2px var(--whiteShadow);
}
#form-signup {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  top: -20px;
  margin-top: 20px;
  width: 260px;
  height: 35px;
  color: var(--bluetext);
  background-color: var(--contentColor);
  box-shadow: 4px 4px 6px var(--blackShadow), -3px -3px 5px var(--whiteShadow);
  border-radius: 8px;
  cursor: pointer;
}
#form-signup:hover {
  color: var(--redtext);
}
#form-signup:active {
  box-shadow: inset 2px 2px 3px var(--blackShadow), inset -2px -2px 2px #ffffff;
}
#signup-toHome,
#signup-toLogin {
  font-size: 15px;
  position: relative;
  color: var(--graytext);
}
#signup-toHome {
  top: -12px;
  left: -40px;
}
#signup-toLogin {
  top: -45px;
  left: 39px;
}
#signup-toHome:hover,
#signup-toLogin:hover {
  cursor: pointer;
  color: black;
}

/* 회원가입 입력값체크*/
.validate-id {
  display: block;
  font-size: 12px;
  position: absolute;
  top: 60px;
  left: 115px;
  color: var(--redtext);
}

.message {
  display: none;
  font-size: 12px;
}
#password-message-match,
#password-message-unmatch,
#password-message-length,
#number-message,
#number-message-count,
#birthday-message,
#birthday-message-count,
#email-check-match,
#email-check-unmatch {
  position: absolute;
  top: 175px;
  left: 29%;
}
#password-message-match,
#number-message-count,
#birthday-message-count,
#email-check-match {
  color: var(--greentext);
}
#password-message-unmatch,
#password-message-length,
#number-message,
#birthday-message,
#email-check-unmatch {
  color: var(--redtext);
}
#email-check-match,
#email-check-unmatch {
  top: 250px;
  left: 31%;
}
#number-message,
#number-message-count {
  top: 320px;
  left: 34%;
}
#birthday-message,
#birthday-message-count {
  top: 385px;
  left: 35%;
}
#number-message-count,
#birthday-message-count,
#email-check-match,
#password-message-match {
  left: 49%;
}
/* @media screen and (min-height: 1150px) {
  .container {
    zoom: 130%;
  }
}
@media screen and (min-width: 730px) {
  .container {
    zoom: 120%;
  }
}
@media screen and (min-width: 2200px) {
  .container {
    zoom: 150%;
  }
} */
