@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
/* font-family: 'Nanum Gothic', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* font-family: 'Ubuntu', sans-serif; */

/* 본문 */
body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  height: 870px;
  margin: 0px;
  background-color: #e9f0fa;
}
h2 {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin: 0px 0px 20px;
  padding: 7px;
  opacity: 0.7;
}
.section-title {
  font-style: italic;
}
#mainLayout {
  zoom: 100%;
  display: flex;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -53%);
  align-items: center;
}
section.Pomodoro {
  position: relative;
  right: 20px;
  top: 50px;
  width: 650px;
  height: 830px;
  padding: 10px;
  border-radius: 30px;
  background: #e9f0fa;
  box-shadow: 11px 11px 9px #c8ced7, -5px -5px 20px #ffffff;
}
section.todonottodo {
  position: relative;
  top: 50px;
  left: 10px;
  width: 650px;
}
article.todolist,
article.nottodolist {
  padding: 10px;
  border-radius: 30px;
  background: #e9f0fa;
  box-shadow: 11px 11px 9px #c8ced7, -5px -5px 22px #ffffff;
  overflow: auto;
}
article.todolist {
  height: 500px;
  margin-bottom: 20px;
}
article.nottodolist {
  height: 280px;
}
/* 투두, 낫투두 스크롤 바 */
article.todolist::-webkit-scrollbar,
article.nottodolist::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}
article.todolist::-webkit-scrollbar-thumb,
article.nottodolist::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  background-color: lightgray;
}

/* 뽀모도로 타이머  */
.Pomodoro-timer-cover {
  position: absolute;
  top: 75px;
  left: 208px;
  width: 215px;
  height: 215px;
  border: 1px solid black;
  border-radius: 50%;
  border: 20px solid #ebf3fb;
  box-shadow: 3px 3px 6px #949da6, -3px -3px 6px #ffffff;
  background-color: white;
}
/* 게이지 구현  */
.Pomodoro-timer-guage {
  position: absolute;
}
/* 시간을 컨트롤하는 타이머 커버영역 */
.Pomodoro-timer-container {
  position: relative;
  left: 239px;
  top: 31px;
  width: 175px;
  height: 175px;
  text-align: center;
  border-radius: 50%;
  background: #ebf3fb;
}
.Pomodoro-timer-container > h2 {
  /*시간, :, 버튼 모두 포함하는 부분*/
  position: relative;
  opacity: 0.6;
  font-size: 44px;
  margin: 0px 1px;
  padding: 0px;
}
.Pomodoro-timer-container > h2 > span {
  /*오직 시간만 표현하는 부분*/
  display: inline-block;
  position: relative;
  top: 35px;
  width: 75px;
}
.Pomodoro-timer-container > .clock__updown {
  position: relative;
  top: 38px;
  opacity: 0.1;
  border: 0;
  padding: 2px 6px 4px;
  border-radius: 40%;
  background-color: transparent;
}
#pomo-timer {
  position: relative;
  top: 35px;
  opacity: 0.5;
}
#minute,
#second {
  position: relative;
  top: 2px;
}
/* 버튼간격조절 */
#minute2__minus,
#minute2__plus {
  margin-top: 0px;
  margin-right: 18px;
}
#second1__minus,
#second1__plus {
  margin-top: 0px;
  margin-left: 18px;
}
.Pomodoro-timer-container > .clock__btn {
  position: relative;
  top: 35px;
  opacity: 0.5;
  font-size: 15px;
  padding: 7px 9px 7px;
  border: none;
  border-radius: 5px;
  background: transparent;
}
#btn__start {
  display: inline;
  color: #ff6f71;
}
#btn__stop {
  display: none;
  padding: 7px;
}
.clock__btn:hover,
.clock__updown:hover {
  opacity: 0.9;
  cursor: pointer;
}
.clock__btn:active,
.clock__updown:active {
  box-shadow: inset 1px 1px 2px #949da6, -1px -1px 3px #ffffff;
}
button:hover {
  opacity: 0.6;
  cursor: pointer;
}
button:active {
  box-shadow: inset 1px 1px 2px #949da6, -1px -1px 3px #ffffff;
}
/* record , 스크롤 구현 */
div.record {
  position: relative;
  top: 100px;
  left: 75px;
  height: 275px;
  width: 480px;
  padding: 10px;
  margin-right: 0px;
  border-radius: 25px;
  background: #e9f0fa;
  box-shadow: 3px 3px 6px #c1c7d0, -3px -3px 6px #ffffff;
  overflow: auto;
}
div.record::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}
div.record::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  background-color: lightgray;
}
/* record 자동입력 부분 */
.record-list {
  /*레이아웃*/
  font-size: 16px;
  font-weight: 500;
  color: #5e5e5e;
  position: relative;
  left: -5px;
  width: 300px;
  display: inline;
  border-radius: 5px;
}
#record-time {
  /*시간 자동입력*/
  border: 0px;
  position: relative;
  left: 10px;
  font-weight: 400;
  font-size: 15px;
  color: gray;
  background-color: transparent;
  padding: 5px;
  border-radius: 8px;
}
.record-text {
  /*텍스트 자동입력*/
  position: relative;
  width: 250px;
  background-color: #e9f0fa;
  border: 1px solid #e9f0fa;
  border-bottom: 1px solid #dbe2eb;
}
#record-time:hover {
  opacity: 1;
  color: black;
}
#record-time:active {
  opacity: 0.3;
  color: black;
  box-shadow: inset 0px 0px 0px #949da6, 0px 0px 0px #ffffff;
}
/* 뽀모도로 기록 타입확인용 아이콘 (빨강/초록)*/
span > i {
  position: relative;
  padding: 0px;
  margin: 0px;
  left: 10px;
  bottom: 2px;
  font-size: 2px;
}
/* 오디오 */
div.audio {
  position: relative;
  top: 120px;
  left: 75px;
  height: 150px;
  width: 500px;
  border-radius: 25px;
  background: #e9f0fa;
  box-shadow: 3px 3px 6px #c1c7d0, -3px -3px 6px #ffffff;
}
/* 오디오 선택 버튼 */
#select-audio {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  left: 125px;
  top: 30px;
  width: 250px;
  height: 25px;
  text-align: center;
  padding-top: 10px;
  border: 0;
  border-radius: 8px;
  background: #e9f0fa;
  box-shadow: 2px 2px 2px #949da6, -2px -2px 10px #ffffff;
}
#select-audio:hover {
  background: #e9f0fa;
  box-shadow: 1px 1px 1px #949da6, -1px -1px 10px #ffffff;
  cursor: pointer;
}
#select-audio:active {
  background: #e9f0fa;
  box-shadow: inset 1px 1px 2px #949da6, -1px -1px 2px #ffffff;
  cursor: pointer;
}

/* 오디오 선택시 나오는 모달창 */
#modal-audio {
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 115px;
  align-items: center;
  background: rgba(255, 255, 255);
  width: 260px;
  height: 95px;
  padding: 5px 5px 10px 5px;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 2px 2px 2px #949da6, -2px -2px 2px #ffffff;
  z-index: 99;
}
/* 오디오 선택 모달창 스크롤 */
#modal-audio::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
#modal-audio::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  background-color: lightgray;
}
.audio-list {
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  color: #808080;
  width: 250px;
  height: 30px;
  margin: 5px 0px 0px 0px;
  border: 0;
  border-radius: 5px;
  background: #e9f0fa;
  box-shadow: 1px 1px 1px lavender, -1px -1px 4px #ffffff;
}
.audio-list:hover {
  color: black;
  opacity: 1;
}

.start-audio,
.pause-audio {
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 35px;
  width: 45px;
  height: 45px;
  opacity: 0.5;
  border: 0px;
  background-color: transparent;
  border-radius: 10px;
}
.start-audio {
  display: flex;
  background-image: url("POMOTODO icon/play-solid.svg");
  left: 230px;
}
.pause-audio {
  display: none;
  background-image: url("POMOTODO icon/pause-solid.svg");
  left: 229px;
}

/* 투두, 낫투두 */
#todo-write,
#nottodo-write {
  position: relative;
  left: 20px;
  width: 590px;
  border-radius: 11px;
  height: 40px;
  background: #e9f0fa;
  box-shadow: 3px 3px 6px #949da6, -2px -2px 6px #ffffff;
}
.color-close {
  display: none;
  position: absolute;
  top: -30px;
  left: -200px;
  width: 1700px;
  height: 1030px;
  background-color: #ffffff20;
  z-index: 90;
}

.todo-modal-content > #check {
  background-color: lightgray;
  color: white;
}
.todo-modal-content > #red {
  background-color: #f36164;
}
.todo-modal-content > #light-orange {
  background-color: #e6b74b;
}
.todo-modal-content > #orange {
  background-color: #f88313;
}
.todo-modal-content > #light-pink {
  background-color: #e69dde;
}
.todo-modal-content > #pink {
  background-color: #e509cc;
}
.todo-modal-content > #light-puple {
  background-color: #9288fd;
}
.todo-modal-content > #purple {
  background-color: #ab57f7;
}
.todo-modal-content > #light-green {
  background-color: #91c349;
}
.todo-modal-content > #green {
  background-color: #5c8a3d;
}
.todo-modal-content > #light-blue-green {
  background-color: #91eadd;
}
.todo-modal-content > #blue-green {
  background-color: #06d2e0;
}
.todo-modal-content > #light-blue {
  background-color: #289bff;
}
.todo-modal-content > #blue {
  background-color: #1c00ff;
}
.todo-modal-content > #sand {
  background-color: #c39b7a;
}
.todo-modal-content > #olive {
  background-color: #b7be54;
}
.not-todo-modal-content > #ntdCheck {
  background-color: #5c8a3d;
  color: white;
}
.not-todo-modal-content > #ntdRed {
  background-color: #f36164;
}
.input-text,
.ntd-input-text {
  width: 540px;
  height: 33px;
  position: relative;
  left: 3px;
  top: 3px;
  border: 0;
  outline: 0;
  border-radius: 9px;
}
.input-button,
.ntd-input-button {
  width: 40px;
  height: 34px;
  position: relative;
  right: px;
  top: 3px;
  color: #5e5e5e;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: 1px;
  border-radius: 9px;
  padding: 0px;
  margin: 0px;
}
/* 투두 모달창 */
#todo-modal.todo-modal-overlay {
  width: 85px;
  height: 300px;
  position: absolute;
  right: 20px;
  top: 140px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 5px #c8ced7, -3px -3px 5px #ffffff;
  border-radius: 10px;
  overflow: auto;
  z-index: 99;
}

#todo-modal.todo-modal-overlay::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}
#todo-modal.todo-modal-overlay::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  background-color: lightgray;
}
.color-button,
.ntd-color-button {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  margin: 5px;
  width: 65px;
  height: 30px;
  border: 0px;
  border-radius: 9px;
  box-shadow: 1px 1px 2px #c8ced7;
  z-index: 999;
}
.color-button {
  top: 140px;
  background-color: #e9f0fa;
}
.ntd-color-button {
  top: 0px;
  left: -2px;
}
/* 낫투두모달창 */
#not-todo-modal.not-todo-modal-overlay {
  width: 75px;
  height: 110px;
  position: absolute;
  right: 20px;
  top: 680px;
  display: none;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 5px #c8ced7, -3px -3px 5px #ffffff;
  border-radius: 10px;
  z-index: 99;
}

/* 투두리스트, 낫투두 입력시 생겨나는 리스트들 */
ol {
  margin: 0px;
  padding: 20px;
}
ol li {
  position: relative;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 585px;
  list-style: none;
  padding-left: 5px;
  margin-bottom: 10px;
  border-radius: 11px;
  background: #e9f0fa;
  box-shadow: 3px 3px 6px #949da6, -2px -2px 6px #ffffff;
  color: lightgray;
}
.fa-arrows-alt-v {
  font-size: 18px;
  width: 25px;
  height: 30px;
  position: relative;
  top: 6px;
  text-align: center;
  justify-content: center;
}

button > i {
  position: relative;
  top: 1px;
}
ol li > i:hover {
  color: gray;
}
ol li > i:active {
  color: black;
}
ol li:hover {
  cursor: pointer;
}
/* 리스트 내용부분 버튼태그 (클릭시 색깔지정 모달창 뜨는 버튼) */
.todo-list-content,
.ntd-todo-list-content {
  padding: 1px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  border: 0px;
  border-radius: 10px;
  background-color: transparent;
  width: 530px;
  height: 40px;
}
.todo-list-content:hover,
.ntd-todo-list-content:hover {
  opacity: 0.6;
}
.todo-list-content:active,
.ntd-todo-list-content:active {
  box-shadow: inset 0px 0px 0px #949da6, -0px -0px 0px #ffffff;
}
/* 리스트 삭제 버튼 */
.todo-list-delete,
.ntd-todo-list-delete {
  position: relative;
  right: 5px;
  top: -1px;
  padding-top: 3px;
  margin-left: 10px;
  border: 0px;
  background-color: transparent;
  font-size: 15px;
  color: lightgray;
}
.todo-list-delete:hover,
.ntd-todo-list-delete:hover {
  color: #ff8585;
  cursor: pointer;
}
.todo-list-delete:active,
.ntd-todo-list-delete:active {
  color: red;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px #949da6, -0px -0px 0px #ffffff;
}
/* 뽀모도로 애니메이션 게이지 */
#pie-chart1 {
  position: absolute;
  top: 95px;
  left: 228px;
  display: iline-block;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  transition: 0.1s;
}
/* 반응형 */
@media screen and (min-width: 1650px) {
  .top-bar {
    zoom: 130%;
  }
}
@media screen and (max-width: 1350px) {
  #mainLayout {
    top: 450px;
  }
  section.Pomodoro {
    position: relative;
    top: 60px;
    right: 1px;
  }
  section.todonottodo {
    position: absolute;
    top: 940px;
    left: 0px;
    width: 670px;
  }
  article.nottodolist {
    position: relative;
    top: 0px;
    left: 0px;
    width: 650px;
    margin-bottom: 30px;
  }
  #todo-write,
  #nottodo-write {
    left: 31px;
  }
  .item-list,
  .ntd-item-list {
    position: relative;
    left: 10px;
  }
}
@media screen and (max-width: 730px) {
  #mainLayout,
  .top-bar {
    zoom: 45%;
  }
  .body {
    height: 730px;
  }
}
